# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Project files
raw/
Sin usar/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
