# Carpetas del proyecto
results/
images/
models/
src/__pycache__

# Archivos del proyecto
Imagen prueba.pptx
Test.png
restart.py

# Archivos de caché de Jupyter Notebook
*.ipynb_checkpoints/

# Archivos de logs
*.log

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
